.title {
  font-size: 22px;
  font-weight: 600;
}

.tokenTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
}

.cardDiv {
  border-bottom: 1px solid #e7e3eb;
  padding: 2rem;
}

.cardDiv:last-child,
.collapseHead .cardDiv {
  border-bottom: none;
}

.selectDiv {
  border-radius: 24px;
  width: 100%;
  z-index: 1;
  background: #fff;
  overflow: hidden;
  position: relative;
  padding: 1px 1px 3px;
  border: 1px solid #e7e3eb;
  color: rgb(31, 31, 65);
}

.jmgGTH {
  cursor: pointer;
  padding: 2.2rem 0;
  position: absolute;
  right: 0;
  margin-right: 3rem;
}

.collapseHead {
  display: flex;
}

.tokenBtn:hover {
  background: rgb(247, 247, 255);
}

.tokenBtn {
  align-items: center;
  border: 3px solid transparent;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  display: flex;
  min-height: 35px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(31, 31, 65);
  background: #fff;
  padding: 5px;
}

.btnSpan {
  position: absolute;
  right: 0;
  margin-right: 3rem;
  margin-bottom: 6px;
}

.tokenTitle {
  font-weight: 600;
  font-size: 20px;
}

.srchInput {
  width: 80%;
}

.srchDiv {
  width: 100%;
  text-align: center;
  margin-top: -1rem;
}

.listDiv {
  margin-top: 10px;
  overflow-y: auto;
  height: 180px;
}

.listDiv::-webkit-scrollbar {
  display: none;
}

.listItem {
  cursor: pointer;
  padding: 14px 2px;
  width: 80%;
  margin-left: 10%;
  font-size: 16px;
  line-height: 20px;
  color: rgb(31, 31, 65);
  position: relative;
  padding-left: 2.5rem;
}

.listItem:hover {
  border: 1px solid rgb(142, 140, 255);
  border-radius: 10px;
}

.tokenSymbol {
  color: rgb(117, 120, 181);
}

.listIcon {
  width: 1.5rem;
  position: absolute;
  left: 5px;
  top: 13px;
}
